@import "../../../variables.scss";
.checkbox-wrapper {
  position: relative;
  text-align: left;
  min-width: 130px;
  cursor: pointer;
}
input[type="checkbox"] {
  position: absolute;
  top: 0;
  left: 0;
  height: 16px;
  width: 16px;
  -webkit-appearance:  none;
}
.checkbox-label {
  display: flex;
  position: relative;
  font-size: 16px;
  font-weight: 400;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 5px;
    cursor: pointer;
}
.checkbox-label:before,
.checkbox-label:after {
  pointer-events: none;
}
.checkbox-label:before {
  display: flex;
  content: "";
  height: 16px;
  width: 16px;
  border: solid 2px $black;
  border-radius: 3px;
  background: $white;
  margin-right: 10px;
}
.checkbox-label:after {
  position: absolute;
  top: 5px;
  left: 7px;
  display: flex;
  content: "";
  height: 12px;
  width: 12px;
  background: $black;
  transform: scale(0);
  transition: transform .3s ease;
}
.checkbox-label:after {
  height: 6px;
  width: 13px;
  left: 2px;
  border-bottom: solid 3px $black;
  border-left: solid 3px $black;
  background: none;
  transform: rotate(-45deg) scale(0);
  transition: transform .1s ease, opacity .1s ease;
  transform-origin: center center;
}
.checkbox-wrapper input[type="checkbox"]:checked + .checkbox-label:after {
  opacity: 1;
  transform: rotate(-45deg) scale(.8);
}
.checkbox-wrapper input[type="checkbox"]:focus {
  outline-color: $white;
}
