@import "../../../variables.scss";

.population-graph-label {
  @extend %section-label;
}

.population-graph .loading-spinner {
  display: flex;
  align-self: center;
  margin-left: 10px;
  margin-bottom: 5px;
}
